<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <link rel="stylesheet" href="/styles.css">
</head>
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
<body>
  {% include header.html %}
  <main class="wrap">
    {{ content }}
  </main>
  <footer class="footer">© {{ site.title }}</footer>
</body>
</html>
